@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
*,
*::after,
*::before,
html {
  box-sizing: border-box;
}

body {
  background-color: #090909;
}

@font-face {
  font-family: "Futura PT", sans-serif;
  src: url("../fonts/futura_pt_medium.woff") format("woff"), url("../fonts/futura_pt_medium.woff2") format("woff2");
}
@font-face {
  font-family: "Muller", sans-serif;
  src: url("../fonts/Muller-Trial-Bold.woff") format("woff"), url("../fonts/Muller-Trial-Bold.woff2") format("woff2");
}
ul,
li {
  list-style: none;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  width: 248px;
  background: #dffa70;
  border-radius: 3px;
  border: none;
  outline: transparent;
  padding: 10px 0;
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #000;
}
button:hover {
  transition: background 0.3s ease-in-out;
  background: #ecffa2;
}

.title {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 96%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 92px;
}

.header {
  background-color: #090909;
  padding: 11px 0;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-name {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 200px;
  cursor: pointer;
}
.select-wrapper::before {
  content: "";
  background: url("../images/mark-header.svg") no-repeat;
  position: absolute;
  width: 10px;
  height: 13px;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.select-wrapper::after {
  content: "";
  background: url("../images/arrow-select.svg") no-repeat;
  width: 7px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #fff;
}

.header__phone {
  display: flex;
  gap: 12px;
  font-family: "Futura PT", sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #dffa70;
  text-decoration: none;
}

.main {
  position: relative;
  background-image: url("../images/header-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 93px;
}
.main::after {
  content: "";
  background: url("../images/lines-bg.svg") no-repeat;
  position: absolute;
  height: 300px;
  width: 705px;
  right: 35px;
  bottom: 0;
}

.select__location {
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.719);
  width: 100%;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.select__location-wrap {
  margin: 23px auto 0px auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: rgba(9, 9, 9, 0.91);
  padding: 22px 36px;
  width: 600px;
}

.countries__input {
  background: rgba(248, 16, 32, 0);
  border: 0.5px solid #fff;
  border-radius: 3px;
  outline: none;
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 7px 13px;
}
.countries__input::-moz-placeholder {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.61);
}
.countries__input:-ms-input-placeholder {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.61);
}
.countries__input::placeholder {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.61);
}

.countries__list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.countries__item {
  display: flex;
  flex-direction: column;
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  gap: 10px;
}
.countries__item p {
  cursor: pointer;
}
.countries__item p:hover {
  color: #d4d4d4;
  transition: color 0.1s ease-in-out;
}
.countries__item p:focus {
  color: #a8a8a8;
}
.countries__item .countries__item-title {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  color: #dffa70;
  cursor: default;
}
.countries__item .countries__item-title:hover {
  color: #dffa70;
}
.countries__item .countries__item-title:focus {
  color: #dffa70;
}

.main__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  height: 100vh;
}

.main__info-title {
  font-family: "Futura PT", sans-serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 96%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 43px;
}

.main__info-date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  color: #e8e8e8;
  gap: 22px;
  margin-bottom: 20px;
}

.main__time-wrap {
  display: flex;
  justify-content: center;
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #e8e8e8;
  align-items: center;
  margin-bottom: 35px;
}

.main__time-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.main__time-item + .main__time-item {
  margin-left: 26px;
}

.main__time-question {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #e8e8e8;
  background-color: #6f6f6f;
  border-radius: 100%;
  padding: 0 9px;
  margin-left: 34px;
}

.main__info-text {
  width: 593px;
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin: 0 auto;
  line-height: 125%;
  text-align: center;
  color: #e8e8e8;
  margin-bottom: 17px;
}

.main__info-age {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #dffa70;
  margin-bottom: 33px;
}

.info-btn {
  padding: 13px 0;
}

.partners {
  margin-bottom: 167px;
}

.partners__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.partners__wrap .partners__item img {
  width: 180px;
  height: 50px;
}
.partners__wrap .partners__item p {
  margin-top: 33px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
}

.about__concert {
  margin-bottom: 103px;
}

.about__title {
  text-align: right;
}

.about__concert-video {
  position: relative;
  margin-bottom: 44px;
}

.about-concerts {
  width: 30px;
  height: 30px;
}

.about__concert-img {
  width: 100%;
}

.about__subtitle {
  margin: 0 auto;
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.about__text {
  margin: 0 auto;
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  margin-bottom: 95px;
  color: #fff;
  width: 400px;
  text-align: center;
}

.about__slider-title {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #8a8a8b;
  margin-bottom: 15px;
}

.about__slider {
  display: flex;
  overflow: hidden;
  gap: 19px;
}

.play-btn {
  position: absolute;
  background-color: #dffa70;
  border-radius: 100%;
  cursor: pointer;
  padding: 7px;
  left: 47%;
  transform: translateX(-50%);
  top: 40%;
}
.play-btn:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.about__frame {
  display: flex;
  justify-content: center;
}

.about__concert-info {
  display: flex;
  justify-content: center;
  margin: 110px 0 12px 0;
  border: 0.5px dashed #dffa70;
  width: 580px;
  text-align: center;
  padding: 44px 15px 30px 15px;
}

.concert__info-wrap {
  position: relative;
  display: flex;
  align-items: center;
  gap: 80px;
  justify-content: center;
}
.concert__info-wrap::before {
  content: "";
  background: url("../images/light.png") no-repeat;
  position: absolute;
  height: 328px;
  width: 600px;
}

.concert__info-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.concert__info-left span {
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 91%;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  text-align: center;
  color: #dffa70;
}
.concert__info-left p {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.concert__info-right span {
  font-family: "Futura PT", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 125%;
  text-align: center;
  margin-top: -25px;
  color: #dffa70;
  margin-bottom: 10px;
}
.concert__info-right p {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 125%;
  text-align: center;
  color: #fff;
}

.about__concert-offer {
  margin-top: 20px;
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #fff;
}

.about__concert-btn {
  display: flex;
  justify-content: center;
}
.about__concert-btn button {
  font-family: "Futura PT", sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding: 10px 0;
}

.musics {
  margin-bottom: 95px;
}

.music__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.music__slider-text {
  margin-top: 18px;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 87%;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.slider-container {
  position: relative;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  background-color: #000;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  vertical-align: middle;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.see {
  margin-bottom: 66px;
}

.advantage {
  margin-bottom: 118px;
}

.advantage__wrap-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 88px;
       column-gap: 88px;
}

.advantage__wrap-bottom {
  display: flex;
  gap: 52px;
  margin-top: 105px;
  justify-content: center;
}

.advantage__item {
  position: relative;
  width: 314px;
}
.advantage__item::after {
  content: "Внимание: остерегайтесь недобросовестных сайтов плагиаторов!!!";
  position: absolute;
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 115%;
  color: #6f6f6f;
  bottom: -35px;
}

.advantage-line::before {
  content: "";
  position: absolute;
  height: 242px;
  left: -30px;
  top: -18px;
  width: 0.5px;
  background-color: rgba(255, 255, 255, 0.479);
}

.advantage__item-number {
  margin-bottom: 37px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 107%;
  text-transform: uppercase;
  color: #dffa70;
}

.advantage__item-title {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  margin-bottom: 29px;
  color: #e8e8e8;
}

.advantage__text-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 115px;
}

.text__wrap {
  width: 568px;
}

.advantage__text-item {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: justify;
  color: #dffa70;
  margin-bottom: 26px;
}

.advantage__attention-item {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 115%;
  color: #6f6f6f;
}

.session {
  margin-bottom: 144px;
}

.session__wrap {
  padding: 26px 0;
  border: 0.5px solid #dffa70;
  border-left: none;
  border-right: none;
}

.session__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.session__info-title {
  display: flex;
  justify-content: space-between;
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #e8e8e8;
  margin-bottom: 22px;
}

.session__info-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 51px;
}
.session__info-details p {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #8a8a8b;
}

.title__age {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #dffa70;
}

.session__info-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 124px;
}

.session__info-price {
  font-family: "Futura PT", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  color: #dffa70;
}

.session__info-btn {
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #000;
  width: 158px;
}

.other__session {
  margin-bottom: 157px;
}

.other__session-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #fff;
  padding: 30px 0;
}

.session__item-data {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 107%;
  text-transform: uppercase;
  color: #fff;
}

.session__item-time {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 29px;
  line-height: 107%;
  text-transform: uppercase;
  color: #dffa70;
}

.session__item-location {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}

.session__item-price {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 29px;
  line-height: 107%;
  text-transform: uppercase;
  text-align: right;
  color: #dffa70;
}

.session__item-btn {
  text-transform: uppercase;
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #000;
  width: 146px;
}

.sold-btn {
  background-color: #8a8a8b;
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.reviews {
  margin-bottom: 83px;
}

.reviews__wrap {
  display: flex;
}

.reviews__item {
  border: 0.5px solid #fff;
  border-radius: 24px;
  padding: 24px;
  color: #fff;
  width: 442px;
}

.reviews__item-user {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-bottom: 10px;
}

.item__user-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item__user-name {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.item__user-social {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #dffa70;
}

.review__item-text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

.review__item-more {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;
  color: #8a8a8b;
}

.map__btn {
  display: flex;
  justify-content: center;
}
.map__btn button {
  width: 131px;
  background-color: rgba(223, 250, 112, 0);
  border: 1px solid #dffa70;
  border-radius: 3px;
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.map__btn button:hover {
  transition: all 0.3s ease-in-out;
  background-color: #dffa70;
  color: #000;
}

.premiers {
  margin-bottom: 83px;
}

.premiers__slider-wrapper {
  position: relative;
  overflow: hidden;
}

.premiers__slider {
  display: flex;
  transition: transform 0.5s ease;
}

.premiers__slider-item {
  position: relative;
  min-width: calc(65% - 44px);
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin-right: 44px;
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 691px;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  color: white;
  display: flex;
  transition: opacity 0.3s ease;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  box-sizing: border-box;
}

.premiers__slider-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
}

.premiers__slider-title {
  font-weight: 500;
  font-size: 40px;
  line-height: 107%;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px 0;
}

.premiers__slider-location {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 6px;
}

.premiers__slider-date {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 6px;
}

.premiers__slider-price {
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  color: #dffa70;
}

.slider__btns {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 22px;
}

.slider-button {
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 1;
  background: none;
  padding: 20px 25px;
  border-radius: 100%;
}

.slider-button.hidden {
  opacity: 0.4;
  pointer-events: none;
}

.events {
  margin-bottom: 111px;
}

.event .event-header {
  color: #fff;
  position: relative;
  border-top: 0.5px solid rgba(255, 255, 255, 0.651);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.651);
}
.event .event-header img {
  width: 100%;
  height: auto;
}
.event .event-header .event-info {
  position: absolute;
  color: #fff;
  padding-top: 35px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.5);
}
.event .event-header .event-info .event-number {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 29px;
  line-height: 107%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
}
.event .event-header .event-info .event-month {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 107%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
}
.event .event-header .event-info .event-time {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 107%;
  text-transform: uppercase;
  color: #fff;
}
.event .event-list {
  color: white;
  margin-bottom: 78px;
}
.event .event-list .event-item {
  padding: 1em 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.651);
}
.event .event-list .event-item .event-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event .event-list .event-item .event-info .event__location-wrap {
  text-align: right;
}
.event .event-list .event-item .event-info .event__location-wrap img {
  width: 100px;
  height: 10px;
}
.event .event-list .event-item .event-info .event-number {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 29px;
  line-height: 107%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
}
.event .event-list .event-item .event-info .event-month {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 107%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
}
.event .event-list .event-item .event-info .event-time {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 107%;
  text-transform: uppercase;
  color: #fff;
}

.event-title {
  margin-left: 115px;
}
.event-title p {
  font-family: "Futura PT", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 107%;
  text-transform: uppercase;
  color: #fff;
}

.event-location {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
}

.event-price {
  font-family: "Futura PT", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 107%;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  margin-bottom: 5px;
}

.event-btn {
  display: flex;
  width: auto;
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin: 0 auto;
  line-height: 107%;
  text-transform: uppercase;
  text-align: center;
  color: #dffa70;
  background: none;
  border-radius: 100%;
  border: 1px solid #dffa70;
  text-align: center;
  padding: 38px 10px;
}

.shows {
  margin-bottom: 120px;
}

.shows__wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 50px;
}

.shows__item--header {
  border-top: 0.5px solid rgba(255, 255, 255, 0.651);
}

.shows__item {
  color: #fff;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.651);
  padding: 19px 0px;
}
.shows__item .shows__img-item {
  width: 367px;
}

.shows__img-container {
  position: relative;
}

.shows__btn {
  position: absolute;
  background-color: #dffa70;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 7px;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
}

.shows__item-title {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 107%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 13px;
}

.shows__item-subtitle {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #dffa70;
}

.shows-btn {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.feedback {
  position: relative;
  background: url("../images/blockquote-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 420px;
  margin-bottom: 127px;
}
.feedback::after {
  content: "";
  background: url(../images/feedback-line.svg) no-repeat;
  position: absolute;
  height: 573px;
  width: 292px;
  right: 0px;
  bottom: -8px;
}

.feedback__wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 38px 0;
  height: 425px;
}

.feedback__form-item {
  display: flex;
  align-items: center;
  gap: 18px;
}

.feedback__form-input {
  color: #fff;
  background: rgba(248, 16, 32, 0);
  border: 0.5px solid #fff;
  outline: none;
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  border-radius: 3px;
  padding: 8px 18px;
}
.feedback__form-input::-moz-placeholder {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
.feedback__form-input:-ms-input-placeholder {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}
.feedback__form-input::placeholder {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}

.feedback__pass-checkbox {
  margin-top: 18px;
  display: flex;
  gap: 8px;
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 23px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  padding: 9px;
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  width: 15px;
  background: none;
  border: 1px solid #fff;
}

.checkbox-container input:checked ~ .checkmark {
  padding: 9px;
  background-color: #222;
  background-image: url("../images/form-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
}

.feedback__title {
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 28px;
  color: #fff;
}

.feedback__subtitle {
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #fff;
}
.feedback__subtitle span {
  color: #dffa70;
}

.feedback__form-title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  margin-bottom: 18px;
}

.socials {
  margin-bottom: 75px;
}

.socials__icons {
  display: flex;
  justify-content: end;
  gap: 36px;
}

.socials__icons-title {
  font-family: "Futura PT", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 125%;
  text-align: right;
  color: #e8e8e8;
}

.socials__icons-wrap {
  display: flex;
  gap: 68px;
  margin-bottom: 52.38px;
}

.socials__info {
  text-align: center;
  width: 715px;
  margin: 0 auto;
}

.socials__info-title {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 125%;
  text-align: center;
  color: #6f6f6f;
  margin-bottom: 16px;
}

.socials__info-text {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #6f6f6f;
}

.footer {
  padding-bottom: 49px;
}

.footer__wrap {
  border-top: 0.5px solid rgba(255, 255, 255, 0.651);
  padding-top: 66px;
  color: #fff;
}

.footer__info-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
}

.footer__info {
  display: flex;
  gap: 144px;
}

.footer__item-title {
  font-family: "Muller", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: #e8e8e8;
  margin-bottom: 40px;
}

.footer__item-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__item-list li {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 125%;
  color: #b9b9b9;
}
.footer__item-list li a {
  text-decoration: none;
  color: #fff;
}
.footer__item-list li a:hover {
  color: #d4d4d4;
  transition: color 0.1s ease-in-out;
}
.footer__item-list li a:focus {
  color: #a8a8a8;
}

.footer__rights {
  font-family: "Futura PT", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 125%;
  color: #6f6f6f;
}

.footer__inn {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__inn .footer__inn-text {
  font-family: "Futura PT", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 125%;
  text-align: right;
  color: #6f6f6f;
}/*# sourceMappingURL=style.css.map */